@-webkit-keyframes borderBlink {

    from,
    to {
        border-color: black
    }

    50% {
        border-color: transparent
    }
}

@keyframes borderBlink {

    from,
    to {
        border-color: black
    }

    50% {
        border-color: transparent
    }
}

.intake24-login-header h1 {
    color: #000000;
}

.intake24-login-header {
    font: bold;
    background: #FFF;
}

.intake24-header {
    background-color: rgba(255, 255, 255, 0.8);
}

.intake24-header h1 {
    color: #000000;
    font-weight: bold;
}

.intake24-navbar a {
    color: #b32700;
}

.intake24-navbar a:focus {
    color: #8e2002;
}

#intake4-time-question-skip-button {
    background-color: #238802;
    border-color: #238802;
}

#intake4-time-question-skip-button:focus {
    background-color: #185c01;
    border-color: #185c01;
}

.intake24-food-list-item {
    width: 50%;
    min-width: 300px;
}

.intake24-prompt-text ul {
    list-style: disc;
    margin-left: 15px;
}

.intake24-button,
button,
.counterIncButton,
.counterDecButton {
    background-color: #747272;
}

.intake24-button:hover,
.intake24-button:focus,
button:hover,
button:focus,
.counterIncButton:hover,
.counterIncButton:focus,
.counterDecButton:hover,
.counterDecButton:focus {
    background-color: #484848;
}

#letters>span {
    color: #747272
}

#intake24-food-browser-skip-food-button,
.intake24-green-button {
    background-color: #238802;
    border-color: #238802;
}

.intake24-green-button:hover,
.intake24-green-button:focus,
.intake24-food-browser-skip-food-button:hover,
.intake24-food-browser-skip-food-button:focus {
    background-color: #185c01;
    border-color: #185c01;
}

.intake24-food-list-delete-button,
.intake24-food-list-accept-button {
    background-color: transparent;
}

.intake24-food-browser-food,
.intake24-food-browser-category {
    padding: 3px 0px;
    max-width: 90%;
    white-space: normal;
    text-align: inherit;
    line-break: normal;
    line-height: inherit;
}

div:focus,
input:focus,
button:focus,
textarea:focus,
canvas:focus,
p:focus {
    border: 1px solid black;
    -webkit-animation: borderBlink 0.5s step-end 1;
    animation: borderBlink 0.5s step-end 1;
}

.intake24-food-browser-container:focus {
    background-color: transparent !important;
    text-decoration: underline;
}

.intake24-food-browser-container:active {
    background-color: transparent !important;
    text-decoration: underline;
}

.intake24-food-browser-container:hover {
    background-color: transparent !important;
    text-decoration: underline;
}