[submodule "resty-gwt"]
	path = resty-gwt
	url = https://github.com/digitalinteraction/resty-gwt.git
	branch = master
[submodule "pcollections"]
	path = pcollections
	url = https://github.com/digitalinteraction/pcollections
	branch = master
[submodule "intake24feedback"]
	path = intake24feedback
	url = ssh://git@openlab.ncl.ac.uk:17150/b0915218/intake24feedback.git
	branch = master
