[submodule "resty-gwt"]
	path = resty-gwt
	url = https://github.com/digitalinteraction/resty-gwt.git
	branch = master
[submodule "pcollections"]
	path = pcollections
	url = https://github.com/digitalinteraction/pcollections
	branch = master
[submodule "intake24feedback"]
	path = intake24feedback
	url = https://github.com/intake24/survey-feedback
	branch = ndns-october
