play.crypto.secret = "aNF<@vv@3p<Y7aZWvA0VGUa^vy`Hq?c5t9]8/sKV3a0yzm6E7duB<Rdt7sy>J`xl"
application.langs = "en"

play.http.parser.maxDiskBuffer = 10MB
play.http.errorHandler = "app.ErrorHandler"

play.modules.enabled += "guice.NewcastleContentModule"

intake24 {
  internalApiBaseUrl = "http://192.168.0.20:9001"
  externalApiBaseUrl = "http://192.168.0.20:9001"

  ga.trackingCode = ""

  supportEmail = "support@intake24.co.uk"
  videoURL = "https://www.youtube.com/watch?v=70Wm_kyxpvg"

  survey {
    termsAndConditionsURL = "/info/terms#content"
    privacyPolicyURL = "/info/privacy#content"
    displayLogos = true
  }
}
